<!DOCTYPE html>
<html>
  <body>
    <div th:fragment="header">
    <table>
      <tr><td><a th:href="@{clients/new.html}">Add Client</a>
      <a th:href="@{/mailingGroups/new.html}">Add Mailing Group</a>
      <a th:href="@{/pocUsers/new.html}">Add User</a>
      <a th:href="@{/filters/new.html}">Add Filter</a>
      </td></tr>
      <tr><td><a th:href="@{clients}">Search Client</a>
      <a th:href="@{/mailingGroups}">Search Mailing Group</a>
      <a th:href="@{/pocUsers}">Search User</a>
      <a th:href="@{/filters}">Search Filter</a>
      </td></tr>
      </table>
    </div>
  </body>
</html>