<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Filter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
  <body>
    <div th:include="common/header::header"></div>
    <p>Add Filter:</p>
    <form action="#" th:action="@{/filters/save}" th:object="${filterForm}" method="post">
      <div th:include="filters/form::form"></div>
      <input type="submit" value="Create Filter"/>
    </form>
    <div th:include="common/footer::footer"></div>
  </body>
</html>