<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">

<head>
<title>iNoc Mailing Group</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div layout:fragment="content">
		<div class="panel-heading">Edit Mailing Group</div>
		<div class="panel-body">
			<div class="container">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<form action="#" th:action="@{/mailingGroups/save}"
								th:object="${mailingGroupForm}" method="post">
								<input th:hidden="true" th:field="*{id}" />
								<div th:include="mailingGroups/form::form"></div>
								<input type="submit" value="Update Mailing Group" class="btn btn-primary col-lg-4"/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>