<div th:fragment="form">
<fieldset>
  <input th:hidden="true" th:field="*{clientId}" />
  <div class="row">
  <label class="col-lg-2 control-label"> Name:</label>
  <div class="col-lg-3"><input type="text" th:field="*{name}" class="form-control"/></div>
  <p class = "text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
  </div>
  <br/>
  <div class="row">
  <label class="col-lg-2 control-label"> Poc Users:</label>
  <div class="col-lg-4"><select id="pocUserIds" th:name="pocUserIds" size="5" multiple="multiple" class="form-control">
			    <option th:each="pocUser : ${allPocUsers}"
						th:value="${{pocUser.getInteger('id')}}"
						th:text="${pocUser.fullName}"
						th:selected="${mailingGroupForm.pocUserIds.contains(pocUser.getInteger('id'))}">
			    </option>
			</select>
  </div>
  </div>
  <br/>
  <div class="row">
  <label class="col-lg-2 control-label"> Include Other Email Addresses:</label>
  <div class="col-lg-4"><input type="text" th:field="*{includeEmailAddresses}"  class="form-control"/> (include multiple addresses comma separated)</div>
  <p class = "text-danger" th:if="${#fields.hasErrors('includeEmailAddresses')}" th:errors="*{includeEmailAddresses}">No Email Error</p>
  </div>
  <br/>
</fieldset>
</div>