<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">

<head>
<title>iNoc Search Mailing Groups</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div layout:fragment="content">
		<div class="panel-heading">Search Mailing Groups        <a th:href="@{/mailingGroups/new.html}">Add Mailing Group</a> </div>
		<div class="panel-body">
			<div class="container">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<div th:if="${not #lists.isEmpty(mailingGroups)}">
								<p>Mailing Groups</p>
								<table border="1">
									<thead>
										<tr>
											<th>Edit</th>
											<th>Name</th>
											<th>No. Of Users</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="mailingGroup: ${mailingGroups}">
											<td><a
												th:href="@{'/mailingGroups/edit/' + ${mailingGroup.id}}">Edit</a></td>
											<td th:text="${{mailingGroup.get('name')}}" />
											<td th:text="${{mailingGroup.getUsers().size()}}" />
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>