<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Mailing Group</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
  <body>
    <div th:include="common/header::header"></div>
    <p>Add Mailing Group:</p>
    <form action="#" th:action="@{/mailingGroups/save}" th:object="${mailingGroupForm}" method="post">
      <div th:include="mailingGroups/form::form"></div>
      <input type="submit" value="Create Mailing Group"/>
    </form>
    <div th:include="common/footer::footer"></div>
  </body>
</html>