<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/emailLayout">

<head>
<title>iNoc dashboard</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Custom styles for this template -->
<link href="http://138.197.119.122:8080/css/mantis/dashboard.css" rel="stylesheet" media="screen" />
</head>

<body>
	<div layout:fragment="content">
		<div class="panel-heading">Issue Assigned: <b><p th:text="${ISSUE_SUBJECT}">Issue subject</p></b></div>
		<div class="panel-body">
			<div class="container">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<h3>Hello</h3>
							<p th:text="${ADMIN_MESSAGE}">Admin message for this email</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<h3>Issue Email</h3>
							<p th:text="${ISSUE_EMAIL}">The email text for this issue</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
