<div th:fragment="form">
<fieldset>
  <input th:hidden="true" th:field="*{clientId}" />
  <div class="row">
  Name: <input type="text" th:field="*{name}" />
  </div>
  <br/>
  <div class="row">
  Retries: <input type="text" th:field="*{retries}" />
  </div>
  <br/>
  <div class="row">
  Time Interval: <input type="text" th:field="*{timeInterval}" />
  </div>
  <br/>
  <div class="row">
  Assigned Mailing Group: <select id="assignedMailingGroupId" th:name="assignedMailingGroupId" size="1">
			    <option th:each="mailingGroup : ${allMailingGroups}"
						th:value="${{mailingGroup.getInteger('id')}}"
						th:text="${mailingGroup.getString('name')}"
						th:selected="${filterForm.assignedMailingGroupId == mailingGroup.getInteger('id')}">
			    </option>
			</select>
  </div>
  <br/>
  <div class="row">
  Un-Assigned Mailing Group: <select id="unassignedMailingGroupId" th:name="unassignedMailingGroupId" size="1">
			    <option th:each="mailingGroup : ${allMailingGroups}"
						th:value="${{mailingGroup.getInteger('id')}}"
						th:text="${mailingGroup.getString('name')}"
						th:selected="${filterForm.unassignedMailingGroupId == mailingGroup.getInteger('id')}">
			    </option>
			</select>
  </div>
  <br/>
  <div class="row">
  Keywords: <input id = "keyword" type="text" name="keyword" /> <input id="addKeyword" type="button" value="Add" /> <input id="removeKeyword" type="button" value="Remove" />
            <select id="keywords" th:name="keywords" size="5" multiple="multiple">
			    <option th:each="keyword : ${filterForm.keywords}"
						th:value="${{keyword}}"
						th:text="${keyword}">
			    </option>
			</select>
  </div>
  <br/>
  <div class="row">
  Poc Users: <select id="allPocUserIds" name="allPocUserIds" size="5" multiple="multiple">
			    <option th:each="pocUser : ${allPocUsers}"
						th:value="${{pocUser.getInteger('id')}}"
						th:text="${pocUser.fullName}"
						th:selected="${filterForm.pocUserIds.contains(pocUser.getInteger('id'))}">
			    </option>   
			</select>

			<input id="addUser" type="button" value="Add" /> <input id="removeUser" type="button" value="Remove" />
			<select id="pocUserIds" th:name="pocUserIds" size="5" multiple="multiple">
			</select>
  </div>
  <br/>
  <div class="row">Assigned Email Template (ISSUE_ASSIGNED_USER_NAME)</div>
  <div th:include="filters/wysiwygIncludes::toolbar_includes('assignedEmailTemplateToolbar', 'editor1-toolbar')"></div>
  <input type='hidden' name='assignedEmailTemplate' id='assignedEmailTemplate'/>
  <div id="assignedEmailTemplateEditor" th:utext="${filterForm.assignedEmailTemplate}"></div>
  <br/>
  <div class="row">Un Assigned Email Template</div>
  <div th:include="filters/wysiwygIncludes::toolbar_includes('unassignedEmailTemplateToolbar', 'editor2-toolbar')"></div>
  <input type='hidden' name='unassignedEmailTemplate' id='unassignedEmailTemplate'/>
  <div id="unassignedEmailTemplateEditor" th:utext="${filterForm.unassignedEmailTemplate}"></div>
</fieldset>
</div>