<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">

<head>
<title>iNoc Search CLient</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div layout:fragment="content">
		<div class="panel-heading">Search Client <a th:href="@{/clients/new.html}">Add Client</a></div>
		<div class="panel-body">
			<div class="container">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
	<form action="#" th:action="@{/clients}" method="get">
		<fieldset>
			Name: <input type="text" name="name" /> <input type="submit"
				value="Search" th:value="Search" />
		</fieldset>
	</form>

	<div th:if="${not #lists.isEmpty(clients)}">
		<p>Client List</p>
		<table border="1">
			<thead>
				<tr>
					<th>Edit</th>
					<th th:text="Name" />
					<th th:text="Email" />
				</tr>
			</thead>
			<tbody>
				<tr th:each="client: ${clients}">
					<td><a th:href="@{'/clients/edit/' + ${client.id}}">Edit</a></td>
					<td th:text="${{client.get('name')}}" />
					<td th:text="${{client.get('email')}}" />
				</tr>
			</tbody>
		</table>
	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>