<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Search Clients</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:include="common/header::header"></div>
	<p>Search Client:</p>

	<form action="#" th:action="@{/clients}" method="get">
		<fieldset>
			Name: <input type="text" name="name" /> <input type="submit"
				value="Search" th:value="Search" />
		</fieldset>
	</form>

	<div th:if="${not #lists.isEmpty(clients)}">
		<p>Client List</p>
		<table border="1">
			<thead>
				<tr>
					<th>Edit</th>
					<th th:text="Name" />
					<th th:text="Email" />
				</tr>
			</thead>
			<tbody>
				<tr th:each="client: ${clients}">
					<td><a th:href="@{'/clients/edit/' + ${client.id}}">Edit</a></td>
					<td th:text="${{client.get('name')}}" />
					<td th:text="${{client.get('email')}}" />
				</tr>
			</tbody>
		</table>
	</div>
	<div th:include="common/footer::footer"></div>
</body>
</html>