<div th:fragment="form">
<fieldset>
  <div class="row">
  First Name: <input type="text" th:field="*{firstName}" />
  </div>
  <br/>
  <div class="row">
  Last Name: <input type="text" th:field="*{lastName}" />
  </div>
  <br/>
  <div class="row">
  Email: <input type="text" th:field="*{emailAddress}" />
  </div>
  <br/>
  <div class="row">
  Phone: <input type="text" th:field="*{phoneNumber}" />
  </div>
  <br/>
  <div class="row" th:if="${pocUserForm.id}==0">
  Password: <input type="text" th:field="*{password}" />
  </div>
  <div class = "row" sec:authorize="hasRole('ROLE_SUPER')">
    <select id="roles" th:name="roles" size="3" multiple="multiple">
			    <option th:each="role : ${allRoles}"
						th:value="${{role}}"
						th:text="${role}"
						th:selected="${pocUserForm.roles.contains(role.toString())}">
			    </option>
			</select>
  </div>
  <br/>
</fieldset>
</div>